@use '../abstracts' as *;
.center-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
    padding:var(--height-1);
    width: 90vw;
    background-color: var(--blue-85);
    .books-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
}