@use '../abstracts' as *;
.book-filters{
    display: none;
    padding: var(--height-1);
    // display: grid;
    place-items: center;
    width: var(--height-20);
    grid-template-areas: 'a b' 'c d' 'e f';
    grid-template-columns: 80% 20%;
    row-gap: var(--font-50);
    transform: translateX(calc(-80%));
    transition:$dropdown_animation;

    button{
        grid-area: b;
        height: 2rem;
        width: 2rem;
        background-color: inherit;
        font-size: var(--font-150);
    }
    .price-range{
        grid-area: a;
    }

    .genre-filter{
        height: 4rem;
        width: 100%;
        background-color: var(--blue-50);
        grid-area: c;
    }

    .author-filter{
        grid-area: e;
        height: 4rem;
        width: 100%;
        background-color: var(--green-50);
    }
}

.show-filters{
    transform: translateX(0);
}