@use '../abstracts' as *;
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

*, ::after, ::before {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}

main{
    min-height:100vh;
    background-color: var(--blue-100);
    position:relative;
}

button{
    display: flex;
    place-items: center;
    margin: 0 var(--height-1);
    padding: 5px;
    border:none;
    border-radius: var(--font-25);
    background-color: transparent;
    color: var(--blue-15);
    font-size: var(--height-2);
}

button:hover{
    transition: $button_hover;
    background-color:var(--blue-50);
}

p{
    word-break: break-word;
}

ul{
    list-style-type:none;
}
