@use '../abstracts' as *;

nav{
    display:flex;
    position:relative;
    height: var(--height-4);
    justify-content: space-between;
    background-color: var(--green-75);

    ul{ display: flex;
        position:absolute;
        top:var(--height-4);
        left:0;
        height:0;
        width: 100%;
        overflow: hidden;
        transition: $dropdown_animation;
        background-color: inherit;
        
        input{
            width: 100%;
            height: 90%;
            border: solid var(--font-25) var(--green-40);
            border-radius: var(--font-25);
            outline: none;
            font-size: var(--font-125);
        }
        input::placeholder{
            display: flex;
            align-items: center;
            padding-left:var(--font-50);
            font-size: var(--font-125);
        }

        .container{
            display: flex;
            margin:0 auto;
            padding:var(--font-50);
            height:var(--height-10);
            width: 80%;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
        }

        li{
            height: 100%;
            display: flex;
            place-items: center;

            a{
                color: var(--green-35);
                font-size: var(--font-125);
                text-decoration: none;
            }
        }
        .active{
            border-bottom: 2px solid var(--green-35);
        }
    }

    .toggle-btn{
        display: flex;
        place-items: center;
        margin: var(--height-1);
        padding: 5px;
        color: var(--green-35);
        font-size: var(--font-150);
        border:none;
        border-radius: var(--font-25);
        background-color: transparent;

    }

    .toggle-btn:hover{
        transition: $button_hover;
        background-color:var(--green-65);
    }
}

@media screen and (min-width:map-get($breakpoints, "small")){
    nav{
        height: var(--height-4) !important;
    
        .toggle-btn{
            display: none;
        }
    
        ul{
            position: static;
            height: inherit !important;
            transition: none;
            width: 100%;

            input{
                width: 20%;
                height: 75%;
            }

            .container{
                height: inherit !important;
                width: 100%;
                flex-direction: row;
                column-gap: 1rem;
                li:nth-of-type(1){
                    margin-left:auto;
                }
            }
        }
    }
}
