.single-book-page{
    padding:var(--font-100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--font-100);
    img{
        background-color: blue;
        width: 50vw;
        max-width: 600px;
        min-width: 240px;
        aspect-ratio: 1/1;
    }
    .book-info{
        display:grid;
        gap: var(--font-50);
        grid-template-areas: 'a b' 'c b' 'd b' 'e e';
        width: 50vw;
        max-width: 600px;
        .book-price{
            grid-area: b;
            place-self: center
        }
        .book-description{
            grid-area: e;
        }
    }
}
