.single-book{
    background-color: transparent;
    width:calc(var(--height-2) * 10);
    width: fit-content;
    padding: 1rem;
    img{
        width: calc(var(--height-2) * 10);
        aspect-ratio: 1/1;
    }
}