.single-book-page{
    padding:var(--font-100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--font-100);
    img{
        background-color: blue;
        width: 60%;
        max-width: 600px;
        min-width: 240px;
        aspect-ratio: 1/1;
    }
    .book-info{
        display:grid;
        gap: 0.5rem;
        grid-template-areas: 'a d' 'b d' 'c d' 'e e';
        width: 40%;
        .book-description{
            grid-area: e;
        }
        .book-author{
            grid-area: b;
        }
        .book-price{
            grid-area: d;
            place-self: center;
            font-size: var(--font-225);
        }
    }
}
    