$blue-color: hsl(232, 92%, 5%);
$green-color: hsl(133, 92%, 5%);
$red-color: hsl(347, 92%, 5%);
:root{
    @for $i from 5 through 100{
        @if($i%5==0){
            --blue-#{$i}:#{lighten($blue-color, $i)};
            --green-#{$i}:#{lighten($green-color, $i)};
            --red-#{$i}:#{lighten($red-color, $i)};
        }
    }
}