:root {
  --blue-5:#020831;
  --green-5:#02310c;
  --red-5:#31020c;
  --blue-10:#030c49;
  --green-10:#034912;
  --red-10:#490312;
  --blue-15:#041162;
  --green-15:#046218;
  --red-15:#620418;
  --blue-20:#05157a;
  --green-20:#057a1f;
  --red-20:#7a051f;
  --blue-25:#061993;
  --green-25:#069325;
  --red-25:#930625;
  --blue-30:#071dab;
  --green-30:#07ab2b;
  --red-30:#ab072b;
  --blue-35:#0821c4;
  --green-35:#08c431;
  --red-35:#c40831;
  --blue-40:#0925dc;
  --green-40:#09dc37;
  --red-40:#dc0937;
  --blue-45:#0a29f5;
  --green-45:#0af53d;
  --red-45:#f50a3d;
  --blue-50:#233ff6;
  --green-50:#23f650;
  --red-50:#f62350;
  --blue-55:#3b54f7;
  --green-55:#3bf764;
  --red-55:#f73b64;
  --blue-60:#546af8;
  --green-60:#54f877;
  --red-60:#f85477;
  --blue-65:#6c7ff9;
  --green-65:#6cf98b;
  --red-65:#f96c8b;
  --blue-70:#8594fa;
  --green-70:#85fa9e;
  --red-70:#fa859e;
  --blue-75:#9daafb;
  --green-75:#9dfbb1;
  --red-75:#fb9db1;
  --blue-80:#b6bffc;
  --green-80:#b6fcc5;
  --red-80:#fcb6c5;
  --blue-85:#ced4fd;
  --green-85:#cefdd8;
  --red-85:#fdced8;
  --blue-90:#e7eafe;
  --green-90:#e7feec;
  --red-90:#fee7ec;
  --blue-95:white;
  --green-95:white;
  --red-95:white;
  --blue-100:white;
  --green-100:white;
  --red-100:white;
}

:root {
  --font-25: 0.25rem;
  --font-50: 0.5rem;
  --font-75: 0.75rem;
  --font-100: 1rem;
  --font-125: 1.25rem;
  --font-150: 1.5rem;
  --font-175: 1.75rem;
  --font-200: 2rem;
}

:root {
  --height-1: 1rem;
  --height-2: 2rem;
  --height-3: 3rem;
  --height-4: 4rem;
  --height-5: 5rem;
  --height-6: 6rem;
  --height-7: 7rem;
  --height-8: 8rem;
  --height-9: 9rem;
  --height-10: 10rem;
  --height-11: 11rem;
  --height-12: 12rem;
  --height-13: 13rem;
  --height-14: 14rem;
  --height-15: 15rem;
  --height-16: 16rem;
  --height-17: 17rem;
  --height-18: 18rem;
  --height-19: 19rem;
  --height-20: 20rem;
}

nav {
  display: flex;
  position: relative;
  height: var(--height-4);
  justify-content: space-between;
  background-color: var(--green-75);
}
nav ul {
  display: flex;
  position: absolute;
  top: var(--height-4);
  left: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s linear;
  list-style-type: none;
  background-color: inherit;
}
nav ul .container {
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  height: var(--height-10);
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
nav ul li {
  height: 100%;
  display: flex;
  place-items: center;
}
nav ul li a {
  color: var(--green-35);
  font-size: var(--font-125);
  text-decoration: none;
}
nav ul .active {
  border-bottom: 2px solid var(--green-35);
}
nav .toggle-btn {
  display: flex;
  place-items: center;
  margin: var(--height-1);
  padding: 5px;
  color: var(--green-35);
  font-size: var(--font-150);
  border: none;
  border-radius: var(--font-25);
  background-color: transparent;
}
nav .toggle-btn:hover {
  transition: all 0.2s linear;
  background-color: var(--green-65);
}

@media screen and (min-width: 600px) {
  nav {
    height: var(--height-4) !important;
  }
  nav .toggle-btn {
    display: none;
  }
  nav ul {
    position: static;
    height: inherit !important;
    transition: none;
    width: 100%;
  }
  nav ul .container {
    height: inherit !important;
    width: 100%;
    flex-direction: row;
    column-gap: 1rem;
  }
  nav ul .container li:nth-of-type(1) {
    margin-left: auto;
  }
}
.single-book {
  background-color: transparent;
  width: calc(var(--font-200) * 10);
  width: fit-content;
  padding: 1rem;
}
.single-book img {
  width: calc(var(--font-200) * 10);
  aspect-ratio: 1/1;
}

.new-books-section {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--font-100);
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: var(--font-100);
  min-height: 100vh;
  width: 100%;
  background-color: var(--green-90);
}

/*# sourceMappingURL=main.css.map */
